---
import { SITE_NAME } from "@/consts";

type Props = {
    title?: string;
};

const { title } = Astro.props;
---

<!-- Basics -->
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Meta stuff -->
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<!-- Title -->
<title>{SITE_NAME}{title && `| ${title}`}</title>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet"
/>
