<div class="w-screen h-screen flex-center bg-black relative">
    <div
        class="px-12 w-full flex flex-col items-center text-8xl font-brand font-thin uppercase tracking-tighter overflow-x-hidden overflow-y-hidden py-6"
    >
        <span
            class="text-8xl text-white/30 relative opacity-0 transition-all left-1/2 duration-1000 delay-300 ease-in-out"
            data-headline-row
        >
            Recibi <span class="text-white font-semibold z-10" data-highlight="bg-blue-400">pagos</span>
        </span>
        <span
            class="text-8xl text-white/30 relative opacity-0 transition-all -left-1/2 duration-1000 ease-in-out"
            data-headline-row
        >
            <span class="text-white font-semibold" data-highlight="bg-pink-400">Destaca</span> del monton
        </span>
        <span
            class="text-8xl text-white/30 relative opacity-0 transition-all left-1/2 duration-1000 delay-200 ease-in-out"
            data-headline-row
        >
            Automatiza <span class="text-white font-semibold" data-highlight="bg-green-400">procesos</span>
        </span>
        <span
            class="text-8xl text-white/30 relative opacity-0 transition-all -left-1/2 duration-1000 delay-500 ease-in-out"
            data-headline-row
        >
            <span class="text-white font-semibold" data-highlight="bg-yellow-400">Genera</span> presencia
        </span>
        <span
            class="text-8xl text-white/30 relative opacity-0 transition-all left-1/2 duration-1000 ease-in-out"
            data-headline-row
        >
            Escala en la <span class="text-white font-semibold" data-highlight="bg-red-400">nube</span>
        </span>
        <span
            class="text-8xl text-white/30 relative opacity-0 transition-all -left-1/2 duration-1000 delay-150 ease-in-out"
            data-headline-row
        >
            <span class="text-white font-semibold" data-highlight="bg-teal-400">Domina</span> tu nicho
        </span>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const headlines = document.querySelectorAll("[data-headline-row]");
        headlines.forEach((headline, i) => {
            const reverse = i % 2 === 0;
            headline.classList.remove("-left-1/2", "left-1/2");
            headline.classList.add("left-0");
            headline.classList.remove("opacity-0");
            headline.classList.add("opacity-100");
        });
    });
</script>
