<nav class="fixed top-0 left-0 right-0 h-20 border-b border-black z-20 flex items-center bg-black/70 backdrop-blur">
    <div class="flex flex-col gap-1 text-white top-0 left-0 p-4">
        <div class="border-4 px-2">
            <span class="uppercase text-xl inline-flex gap-4">
                <span class="font-thin">C</span>
                <span class="font-normal">L</span>
                <span class="font-medium">O</span>
                <span class="font-semibold">U</span>
                <span class="font-bold">D</span>
                <span class="font-bold">I</span>
                <span class="font-black">F</span>
                <span class="font-black">Y</span>
            </span>
        </div>
        <span class="uppercase inline-flex justify-between px-2 text-sm">
            <span>A</span>
            <span>g</span>
            <span>e</span>
            <span>n</span>
            <span>c</span>
            <span>y</span>
        </span>
    </div>

    <div class="ml-auto flex items-center pr-6">
        <a href="#" class="flex-center h-20 font-brand tracking-wider font-medium uppercase px-4">Servicios</a>
        <a href="#" class="flex-center h-20 font-brand tracking-wider font-medium uppercase px-4">Portfolio</a>
        <a href="#" class="flex-center h-20 font-brand tracking-wider font-medium uppercase px-4">Nosotros</a>
        <div class="flex-center h-20">
            <a
                href="#"
                class="flex-center px-6 py-2 font-brand tracking-wider font-semibold uppercase bg-lime-500 text-black rounded-lg shadow-lg border-b-2 border-lime-900 shadow-lime-500/40"
            >
                Escribinos!
            </a>
        </div>
    </div>
</nav>
